<div class="header">
  <div class="logo">
    <h1>
      <!--<a href="/"></a>-->
    </h1>

    <p class="baiban">
      <!--<a href="/"></a>-->
    </p>

    <div class="search_box">
      <form action="/" method="get">
        <input type="text" class="text" name="k" id="key" placeholder="输入您想要的宝贝" value="<%= params['k'].strip() if params['k']%>">
        <input type="submit" id="k" value="" class="btn">
      </form>
    </div>


    <div class="nav">
      <div class="mask"></div>
      <!--<ul class="navigation">-->
        <!--<li class="entrance"><a class="minor" href="">九块九</a></li>-->
        <!--<li class="entrance"><a class="minor" href="" >十九块九</a></li>-->
        <!--<li class="entrance"><a class="minor" href="">秀当网</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</div>